<div class="oj-hybrid-padding">
    <h4>Primari</h4>

    <oj-combobox-one id="selectJudete" label-hint="Județ" label-edge="inside"
                     options="{{judete}}"
                     value="{{judet}}"
                     on-value-changed="[[judetCuLocalitatiSchimba]]"
                     style="max-width:20em">
    </oj-combobox-one>
    <oj-combobox-one id="selectLocalitati" label-hint="Localitate" label-edge="inside"
                     options="{{localitati}}"
                     value="{{localitate}}"
                     on-value-changed="[[localitateSchimba]]"
                     style="max-width:20em">
    </oj-combobox-one>

    <div id="masonrylayout-basic-example">
        <div class="demo-scroll-container">
            <oj-masonry-layout id="masonryLayout">
                <oj-bind-for-each data="[[dataprovider]]">
                    <template data-oj-as="primar">
                        <div :id="[[primar.index]]" :class="oj-panel oj-masonrylayout-tile-2x1">
                            <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-space-between">
                                <span class="oj-flex-item">
                                    <oj-bind-text value="[[primar.data.partid]]"></oj-bind-text>
                                </span>
                                <span class="oj-flex-item oj-typography-subheading-md">
                                    <oj-bind-text value="[[primar.data.pozitieBuletin]]"></oj-bind-text>
                                </span>
                            </div>
                            <br/>
                            <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center">
                                <span class="oj-flex-item oj-typography-body-xl">
                                    <oj-bind-text value="[[primar.data.nume]]"></oj-bind-text>
                                </span>
                            </div>
                        </div>
                    </template>
                </oj-bind-for-each>
            </oj-masonry-layout>
        </div>
    </div>
</div>